## Session 12 - Assignment 1

#### I decided to treat this as a classification problem by creating a new binary variable affair (did the woman have at least one affair?) and trying to predict the classification for each woman.
#### Dataset 
#### The dataset I chose is the affairs dataset that comes with Statsmodels. It was derived from a survey of women in 1974 by Redbook magazine, in which married women were asked about their participation in extramarital affairs. More information about the study is available in a 1978 paper from the Journal of Political Economy. Description of Variables The dataset contains 6366 observations of 9 variables:

#### rate_marriage: woman's rating of her marriage (1 = very poor, 5 = very good)
#### age: woman's age
#### yrs_married: number of years married
#### children: number of children
#### religious: woman's rating of how religious she is (1 = not religious, 4 = strongly religious)
#### educ: level of education (9 = grade school, 12 = high school, 14 = some college, 16 = college graduate, 17 = some graduate school, 20 = advanced degree)
#### occupation: woman's occupation (1 = student, 2 = farming/semi-skilled/unskilled, 3 = "white collar", 4 = teacher/nurse/writer/technician/skilled, 5 = managerial/business, 6 = professional with advanced degree)
#### occupation_husb: husband's occupation affairs: time spent in extra-marital affairs

In [1]:
# Importing module and assigning alias for them.
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
from sklearn import metrics
# from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import cross_val_score

In [2]:
# loading a dataset from statsmodels into a pandas dataframe
dta = sm.datasets.fair.load_pandas().data
dta.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [3]:
# add "affair" column: 1 represents having affairs, 0 represents not
dta['affair'] = (dta.affairs > 0).astype(int)
dta.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs,affair
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111,1
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769,1
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000,1
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273,1
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666,1

In [4]:
#we will add an intercept column as well as dummy variables for occupation and occupation_husb, 
#since we are treating them as categorial variables. 
y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children + \
religious + educ + C(occupation) + C(occupation_husb)',
dta, return_type="dataframe")
X.head()

,Intercept,C(occupation)[T.2.0],C(occupation)[T.3.0],C(occupation)[T.4.0],C(occupation)[T.5.0],C(occupation)[T.6.0],C(occupation_husb)[T.2.0],C(occupation_husb)[T.3.0],C(occupation_husb)[T.4.0],C(occupation_husb)[T.5.0],C(occupation_husb)[T.6.0],rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0

In [5]:
y

      affair
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0
11       1.0
12       1.0
13       1.0
14       1.0
15       1.0
16       1.0
17       1.0
18       1.0
19       1.0
20       1.0
21       1.0
22       1.0
23       1.0
24       1.0
25       1.0
26       1.0
27       1.0
28       1.0
29       1.0
...      ...
6336     0.0
6337     0.0
6338     0.0
6339     0.0
6340     0.0
6341     0.0
6342     0.0
6343     0.0
6344     0.0
6345     0.0
6346     0.0
6347     0.0
6348     0.0
6349     0.0
6350     0.0
6351     0.0
6352     0.0
6353     0.0
6354     0.0
6355     0.0
6356     0.0
6357     0.0
6358     0.0
6359     0.0
6360     0.0
6361     0.0
6362     0.0
6363     0.0
6364     0.0
6365     0.0

[6366 rows x 1 columns]

In [6]:
#Renaming the column name of dummy variable.
X = X.rename(columns = {'C(occupation)[T.2.0]':'occ_2',
'C(occupation)[T.3.0]':'occ_3',
'C(occupation)[T.4.0]':'occ_4',
'C(occupation)[T.5.0]':'occ_5',
'C(occupation)[T.6.0]':'occ_6',
'C(occupation_husb)[T.2.0]':'occ_husb_2',
'C(occupation_husb)[T.3.0]':'occ_husb_3',
'C(occupation_husb)[T.4.0]':'occ_husb_4',
'C(occupation_husb)[T.5.0]':'occ_husb_5',
'C(occupation_husb)[T.6.0]':'occ_husb_6'})
X.head()

,Intercept,occ_2,occ_3,occ_4,occ_5,occ_6,occ_husb_2,occ_husb_3,occ_husb_4,occ_husb_5,occ_husb_6,rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0

In [7]:
#flatten y into a 1-D array
y = np.ravel(y)
y

array([1., 1., 1., ..., 0., 0., 0.])

In [8]:
# Splitting the dataset into the Training set and Test set
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [9]:
print("X-TRAINING DATA:\n",X_train)
print("X-TEST DATA:\n",X_test)
print("Y-TRAINING DATA:\n",y_train)
print("Y-TEST DATA:\n",y_test)

X-TRAINING DATA:
       Intercept  occ_2  occ_3  occ_4  occ_5  occ_6  occ_husb_2  occ_husb_3  \
4533        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
2720        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
3407        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
3326        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
5306        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
5986        1.0    0.0    0.0    1.0    0.0    0.0         0.0         1.0
3562        1.0    0.0    0.0    1.0    0.0    0.0         0.0         1.0
1843        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
5146        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
1556        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
1431        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
5335        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
5862        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
4138        1.0    0.0    1.0    0.0    0.0    0.0         0.0         1.0
5332        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
1702        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
5174        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
5129        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
1223        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
1831        1.0    0.0    1.0    0.0    0.0    0.0         0.0         1.0
64          1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
5110        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
3616        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
5747        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2940        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
6361        1.0    0.0    0.0    1.0    0.0    0.0         0.0         1.0
5043        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2550        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
811         1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
5087        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
...         ...    ...    ...    ...    ...    ...         ...         ...
2008        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
99          1.0    0.0    0.0    0.0    1.0    0.0         1.0         0.0
2496        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
1871        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
2046        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
4851        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
5072        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2163        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
6036        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
6216        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2893        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
537         1.0    0.0    0.0    0.0    1.0    0.0         1.0         0.0
1701        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2897        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
2222        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2135        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
2599        1.0    1.0    0.0    0.0    0.0    0.0         0.0         1.0
705         1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
3468        1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0
5924        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
5874        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
4373        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
1033        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
5827        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
4859        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
4931        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
3264        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
1653        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2607        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2732        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0

      occ_husb_4  occ_husb_5  occ_husb_6  rate_marriage   age  yrs_married  \
4533         0.0         1.0         0.0            5.0  22.0          0.5
2720         0.0         0.0         0.0            3.0  27.0          0.5
3407         1.0         0.0         0.0            5.0  22.0          2.5
3326         0.0         0.0         0.0            5.0  22.0          2.5
5306         1.0         0.0         0.0            5.0  22.0          2.5
5986         0.0         0.0         0.0            4.0  37.0         13.0
3562         0.0         0.0         0.0            5.0  22.0          2.5
1843         1.0         0.0         0.0            4.0  37.0         16.5
5146         0.0         0.0         1.0            3.0  32.0          2.5
1556         0.0         1.0         0.0            4.0  32.0         13.0
1431         1.0         0.0         0.0            4.0  27.0          6.0
5335         0.0         1.0         0.0            4.0  27.0          9.0
5862         0.0         0.0         0.0            5.0  27.0          9.0
4138         0.0         0.0         0.0            5.0  22.0          2.5
5332         1.0         0.0         0.0            2.0  42.0         13.0
1702         1.0         0.0         0.0            4.0  17.5          2.5
5174         1.0         0.0         0.0            3.0  42.0         23.0
5129         1.0         0.0         0.0            5.0  22.0          2.5
1223         0.0         0.0         1.0            5.0  32.0         16.5
1831         0.0         0.0         0.0            2.0  42.0         16.5
64           0.0         1.0         0.0            5.0  22.0          6.0
5110         0.0         0.0         0.0            5.0  22.0          2.5
3616         1.0         0.0         0.0            4.0  22.0          2.5
5747         1.0         0.0         0.0            4.0  22.0          6.0
2940         1.0         0.0         0.0            4.0  22.0          2.5
6361         0.0         0.0         0.0            5.0  32.0         13.0
5043         0.0         1.0         0.0            5.0  42.0         23.0
2550         1.0         0.0         0.0            5.0  22.0          2.5
811          0.0         0.0         0.0            5.0  42.0         23.0
5087         1.0         0.0         0.0            5.0  27.0          0.5
...          ...         ...         ...            ...   ...          ...
2008         0.0         1.0         0.0            4.0  27.0          9.0
99           0.0         0.0         0.0            4.0  27.0          2.5
2496         0.0         0.0         1.0            5.0  27.0          6.0
1871         1.0         0.0         0.0            3.0  22.0          2.5
2046         1.0         0.0         0.0            3.0  27.0          6.0
4851         0.0         0.0         0.0            5.0  17.5          2.5
5072         0.0         0.0         1.0            5.0  22.0          2.5
2163         1.0         0.0         0.0            3.0  22.0          2.5
6036         0.0         0.0         0.0            5.0  22.0          2.5
6216         0.0         1.0         0.0            4.0  27.0          6.0
2893         1.0         0.0         0.0            5.0  22.0          0.5
537          0.0         0.0         0.0            2.0  37.0         23.0
1701         1.0         0.0         0.0            4.0  27.0          6.0
2897         0.0         0.0         1.0            5.0  27.0          6.0
2222         0.0         1.0         0.0            5.0  42.0         23.0
2135         1.0         0.0         0.0            5.0  32.0          9.0
2599         0.0         0.0         0.0            5.0  32.0         16.5
705          0.0         1.0         0.0            4.0  27.0          2.5
3468         0.0         0.0         0.0            5.0  32.0         13.0
5924         1.0         0.0         0.0            4.0  22.0          2.5
5874         1.0         0.0         0.0            5.0  22.0          2.5
4373         1.0         0.0         0.0            5.0  27.0          2.5
1033         0.0         0.0         1.0            5.0  27.0          6.0
5827         1.0         0.0         0.0            3.0  27.0          9.0
4859         0.0         0.0         0.0            4.0  27.0          2.5
4931         1.0         0.0         0.0            3.0  27.0          2.5
3264         0.0         0.0         0.0            4.0  17.5          0.5
1653         1.0         0.0         0.0            3.0  22.0          2.5
2607         0.0         1.0         0.0            5.0  22.0          0.5
2732         0.0         0.0         0.0            4.0  22.0          2.5

      children  religious  educ
4533       0.0        3.0  16.0
2720       0.0        2.0  12.0
3407       0.0        3.0  12.0
3326       0.0        2.0  16.0
5306       0.0        4.0  16.0
5986       2.0        3.0  16.0
3562       0.0        2.0  14.0
1843       5.5        3.0  12.0
5146       0.0        1.0  17.0
1556       2.0        3.0  12.0
1431       2.0        4.0  14.0
5335       2.0        2.0  12.0
5862       0.0        3.0  14.0
4138       0.0        3.0  16.0
5332       0.0        2.0  12.0
1702       0.0        2.0  12.0
5174       5.5        4.0  12.0
5129       0.0        1.0  14.0
1223       3.0        3.0  16.0
1831       2.0        3.0  12.0
64         2.0        2.0  12.0
5110       0.0        3.0  12.0
3616       0.0        1.0  14.0
5747       1.0        1.0  12.0
2940       1.0        2.0  12.0
6361       2.0        3.0  17.0
5043       2.0        2.0  17.0
2550       0.0        4.0  14.0
811        4.0        3.0  14.0
5087       0.0        2.0  16.0
...        ...        ...   ...
2008       2.0        2.0  16.0
99         1.0        2.0  12.0
2496       1.0        3.0  20.0
1871       0.0        3.0  16.0
2046       0.0        1.0  12.0
4851       0.0        4.0  12.0
5072       2.0        1.0  16.0
2163       0.0        2.0  14.0
6036       0.0        3.0  14.0
6216       0.0        2.0  14.0
2893       0.0        2.0  16.0
537        4.0        2.0  12.0
1701       0.0        3.0  14.0
2897       0.0        2.0  20.0
2222       3.0        3.0  14.0
2135       2.0        3.0  16.0
2599       2.0        1.0  12.0
705        0.0        2.0  14.0
3468       2.0        2.0  16.0
5924       0.0        3.0  14.0
5874       0.0        3.0  12.0
4373       0.0        1.0  20.0
1033       1.0        2.0  14.0
5827       2.0        2.0  14.0
4859       0.0        2.0  16.0
4931       1.0        2.0  14.0
3264       0.0        2.0  12.0
1653       0.0        2.0  14.0
2607       0.0        2.0  14.0
2732       0.0        1.0  12.0

[4774 rows x 17 columns]
X-TEST DATA:
       Intercept  occ_2  occ_3  occ_4  occ_5  occ_6  occ_husb_2  occ_husb_3  \
2764        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
4481        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
5360        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
5802        1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0
1220        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
5812        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
3719        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
3848        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
1865        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2535        1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0
2505        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
6273        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
3710        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
4229        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
1262        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
5321        1.0    0.0    1.0    0.0    0.0    0.0         0.0         1.0
3790        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
994         1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
5644        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
2252        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
1804        1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0
861         1.0    0.0    0.0    0.0    1.0    0.0         1.0         0.0
1601        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
1718        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2976        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
3603        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
4130        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
5824        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
5901        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
4408        1.0    0.0    0.0    0.0    0.0    0.0         0.0         0.0
...         ...    ...    ...    ...    ...    ...         ...         ...
841         1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
1521        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
1398        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2060        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
32          1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
4687        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
5411        1.0    0.0    1.0    0.0    0.0    0.0         0.0         1.0
1259        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
5089        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
1367        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
2429        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
5348        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
862         1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
4749        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
3829        1.0    0.0    0.0    0.0    0.0    1.0         0.0         0.0
598         1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
4016        1.0    0.0    0.0    0.0    1.0    0.0         0.0         0.0
3438        1.0    0.0    1.0    0.0    0.0    0.0         1.0         0.0
3675        1.0    0.0    0.0    1.0    0.0    0.0         0.0         0.0
4224        1.0    1.0    0.0    0.0    0.0    0.0         1.0         0.0
4539        1.0    0.0    0.0    0.0    0.0    1.0         0.0         0.0
1216        1.0    1.0    0.0    0.0    0.0    0.0         0.0         0.0
4487        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
1393        1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0
3947        1.0    0.0    1.0    0.0    0.0    0.0         0.0         1.0
866         1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
1790        1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
38          1.0    0.0    1.0    0.0    0.0    0.0         0.0         0.0
158         1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0
1302        1.0    0.0    0.0    1.0    0.0    0.0         1.0         0.0

      occ_husb_4  occ_husb_5  occ_husb_6  rate_marriage   age  yrs_married  \
2764         0.0         1.0         0.0            3.0  27.0          9.0
4481         0.0         1.0         0.0            5.0  22.0          2.5
5360         1.0         0.0         0.0            4.0  27.0          6.0
5802         0.0         0.0         0.0            5.0  42.0         23.0
1220         0.0         0.0         0.0            4.0  27.0          6.0
5812         0.0         0.0         1.0            5.0  42.0         23.0
3719         0.0         0.0         0.0            4.0  32.0          6.0
3848         0.0         0.0         0.0            4.0  32.0          9.0
1865         1.0         0.0         0.0            3.0  32.0         16.5
2535         0.0         0.0         0.0            4.0  42.0         23.0
2505         0.0         1.0         0.0            5.0  27.0          6.0
6273         0.0         1.0         0.0            5.0  27.0          6.0
3710         0.0         1.0         0.0            5.0  27.0          2.5
4229         1.0         0.0         0.0            4.0  22.0          2.5
1262         0.0         0.0         0.0            2.0  22.0          2.5
5321         0.0         0.0         0.0            4.0  42.0         23.0
3790         0.0         0.0         0.0            5.0  17.5          2.5
994          0.0         0.0         0.0            2.0  22.0          6.0
5644         0.0         1.0         0.0            5.0  37.0         16.5
2252         1.0         0.0         0.0            5.0  32.0          9.0
1804         0.0         0.0         0.0            4.0  27.0          6.0
861          0.0         0.0         0.0            4.0  37.0         16.5
1601         1.0         0.0         0.0            5.0  22.0          2.5
1718         0.0         1.0         0.0            4.0  22.0          6.0
2976         0.0         1.0         0.0            5.0  22.0          2.5
3603         1.0         0.0         0.0            5.0  37.0         16.5
4130         1.0         0.0         0.0            3.0  27.0          9.0
5824         0.0         1.0         0.0            5.0  42.0         23.0
5901         0.0         0.0         0.0            4.0  27.0          2.5
4408         0.0         0.0         1.0            5.0  27.0          6.0
...          ...         ...         ...            ...   ...          ...
841          0.0         0.0         0.0            4.0  17.5          2.5
1521         0.0         0.0         0.0            4.0  32.0         16.5
1398         0.0         1.0         0.0            4.0  42.0         23.0
2060         0.0         0.0         0.0            5.0  27.0          2.5
32           0.0         0.0         0.0            3.0  37.0         16.5
4687         1.0         0.0         0.0            4.0  27.0         13.0
5411         0.0         0.0         0.0            4.0  27.0          2.5
1259         1.0         0.0         0.0            4.0  27.0          6.0
5089         0.0         1.0         0.0            4.0  22.0          2.5
1367         0.0         1.0         0.0            1.0  42.0         23.0
2429         1.0         0.0         0.0            4.0  32.0         13.0
5348         1.0         0.0         0.0            3.0  37.0         16.5
862          0.0         0.0         0.0            5.0  22.0          2.5
4749         0.0         1.0         0.0            5.0  22.0          0.5
3829         0.0         1.0         0.0            5.0  27.0          6.0
598          1.0         0.0         0.0            3.0  27.0          6.0
4016         0.0         1.0         0.0            5.0  22.0          2.5
3438         0.0         0.0         0.0            4.0  22.0          2.5
3675         0.0         0.0         1.0            4.0  42.0         23.0
4224         0.0         0.0         0.0            5.0  27.0          9.0
4539         1.0         0.0         0.0            4.0  27.0          2.5

In [10]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
print("X-TRAINING DATA AFTER FEATURE SCALING:\n",X_train)
print("X-TEST DATA AFTER FEATURE SCALING:\n",X_test)

X-TRAINING DATA AFTER FEATURE SCALING:
 [[ 0.         -0.39947743 -0.87793594 ... -0.97943795  0.66739309
   0.81124293]
 [ 0.         -0.39947743  1.13903527 ... -0.97943795 -0.47418148
  -1.01021444]
 [ 0.         -0.39947743 -0.87793594 ... -0.97943795  0.66739309
  -1.01021444]
 ...
 [ 0.         -0.39947743  1.13903527 ... -0.97943795 -0.47418148
  -0.09948576]
 [ 0.         -0.39947743  1.13903527 ... -0.97943795 -0.47418148
  -0.09948576]
 [ 0.         -0.39947743  1.13903527 ... -0.97943795 -1.61575604
  -1.01021444]]
X-TEST DATA AFTER FEATURE SCALING:
 [[ 0.         -0.39947743  1.13903527 ...  0.42051318 -1.61575604
  -0.09948576]
 [ 0.         -0.39947743  1.13903527 ... -0.97943795  1.80896766
   0.81124293]
 [ 0.         -0.39947743 -0.87793594 ... -0.97943795 -0.47418148
   1.26660727]
 ...
 [ 0.         -0.39947743  1.13903527 ...  1.12048875  0.66739309
  -1.01021444]
 [ 0.         -0.39947743 -0.87793594 ...  1.82046432  0.66739309
  -0.09948576]
 [ 0.         -0.39947743 -0.87793594 ... -0.27946239 -1.61575604
   0.81124293]]

In [14]:
# Fitting Logistic Regression to the Training set
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\Swami\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [15]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred

array([1., 0., 0., ..., 0., 1., 1.])

In [16]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [17]:
print("CONFUSIONMATRIX:\n",cm)

CONFUSIONMATRIX:
 [[992 108]
 [315 177]]

In [18]:
print ("MODEL ACCURACY:",metrics.accuracy_score(y_test,y_pred))

MODEL ACCURACY: 0.7342964824120602